*
{
	margin: 0;
	padding: 0;
	outline: none;
}


body
{
	font-family: Roboto, sans-serif;
	
    background-image: url('../imgs/6HwVCPp.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    border-image-width: 800px;
}

.container
{
	position: relative;
	width: 1920px;
	height: 1080px;
	margin: 0px auto;
	margin-left: 0px;
}





































