*
{
	margin: 0;
	padding: 0;
	outline: none;
}


body
{
	font-family: Roboto, sans-serif;
	background: #353535;
}

.container
{
	width: 280px;
	height: 500px;
	margin: 450px auto;
	margin-left: 600px;
}

.card
{

}

.card-head
{
position: relative;
height: 252px;
background: #fa782e; /* Old browsers */
background: --moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
background: --webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
background: linear-gradient(135deg, #da782e 8%, #c82930 83%);
filter: progid:DXImageTrasform.Microsoft.gradient(startColorstr= '#fa782e', endColor='#c82930',GradientType=1 );
border-radius: 25px 25px 0 0;
}





.product-img
{
	position: absolute;
	left: 0;
	margin-top: 5px;
	margin-left: 50px;

}

.product-detail
{
	padding: 0 20px;
	font-size: 10px;
	color: #fff;
}

.product-detail h2
{
	font-size: 77px;
	font-weight: 100;
	letter-spacing: 2px;
	padding-bottom: -10px;
}

.back-text
{
	display: inline-block;
	font-size: 115px;
	font-weight: 800;
	margin-left: 16px;
	margin-top: -40px;
	opacity: .05;
}





































